<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyFence</title>
    <link rel="icon" type="image/x-icon"
        href="https://e7.pngegg.com/pngimages/446/743/png-clipart-brown-wooden-fence-fence-garden-fence-pattern-outdoor-structure-branch.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- font stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body class="bg-dark">
    <div id="loginPage">
        <!-- user declaration buttons -->
        <div class="position-absolute top-50 start-50 translate-middle">
            <button type="button" class="btn btn-light btn-lg py-4 px-5 mx-3 mb-3 userButtons"
                @click="declareUser('Creator')" id="creatorBtn" data-bs-toggle="modal"
                data-bs-target="#loginModal">Creator</button>
            <button type="button" class="btn btn-light btn-lg py-4 px-5 mx-3 mb-3 userButtons"
                @click="declareUser('Consumer')" id="consumerBtn" data-bs-toggle="modal"
                data-bs-target="#loginModal">Consumer</button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <!-- button to open and close modal  -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="container-fluid rounded-3 p-0">
                            <div class="row m-0">
                                <!-- left half of login  -->
                                <div class="col-sm-6 py-5 ps-5">
                                    <h4 class="mb-4">Welcome {{userType}}!</h4>
                                    <div class="mb-3 row">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="form-control w-75" id="username" v-model="username">
                                    </div>
                                    <div class="mb-4 row">
                                        <label for="inputPassword" class="form-label">Password</label>
                                        <input type="password" class="form-control w-75" id="inputPassword"
                                            v-model="password">
                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-outline-dark rounded-pill col-4 mb-3"
                                            @click="login()">Login</button>
                                        <span v-if="invalidInputs" class="text-danger">{{inputsMsg}}</span>
                                        <span v-if="isLoginFail" class="text-danger">{{loginFailMsg}}</span>
                                        <!-- <button type="button"
                                            class="btn btn-primary rounded-pill col-5 mx-1">Register</button> -->
                                    </div>
                                </div>

                                <!-- right half of login (make it an auto carousel showing sneaky fence images?) -->
                                <div style="padding:0;background-image:url('https://images.unsplash.com/photo-1521401707913-31dbbe09ca2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); background-size: 150%; background-position-x: 54%;"
                                    class="col-sm-6 bg-light rounded-end ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- V3 Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- login script -->
    <script type='module' src='./scripts/login.js'></script>
    <!-- navbar template -->
    <script src="./scripts/navbar.js"></script>
    <!-- axios JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>

</html>